.nav-menu a.active{
    border-bottom:2px solid white;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:24px 40px;
    z-index:1000;

    /* WARNA UTAMA */
    background: var(--blue-main);  /* biru transparan */

    /* efek kaca */
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
}

.nav-container{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

/* logo kiri */
.nav-logo{
display:flex;
align-items:center;
gap:9px;
color:white;
font-weight:700;
font-size:20px;
}

.nav-logo img{
width:38px;
}

/* menu kanan */
.nav-menu a{
margin-left:28px;
text-decoration:none;
color:white;
font-weight:500;
position:relative;
}

/* underline animasi */
.nav-menu a::after{
content:'';
position:absolute;
left:0;
bottom:-6px;
width:0%;
height:2px;
background:white;
transition:0.3s;
}

.nav-menu a:hover::after{
width:100%;
}

/* navbar saat scroll */
.navbar.scrolled{
 background:rgba(23,78,166,0.65);  
box-shadow:0 8px 25px rgba(0,0,0,0.25);
padding:19px 40px;
}
/* container scroll */
.page-wrapper{
    height:100vh;
    overflow-y:scroll;
    scroll-snap-type:y mandatory;
}

/* setiap section jadi 1 layar */
.page-wrapper section{
    height:100vh;
    scroll-snap-align:start;
}
#tentang{
    scroll-margin-top:90px;
}
html{
    scroll-behavior:smooth;
}
.hero{
    transition:transform .8s ease;
}

body.scrolled-once .hero{
    transform:scale(1.02);
}
